@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-variant-numeric: slashed-zero;
}

body {
  margin: 0;
  height: 200vh;
    background-color: rgb(38, 38, 38);
    background-image: radial-gradient(at 62% 56%, rgb(29, 78, 216) 0, transparent 65%), radial-gradient(at 80% 64%, rgb(232, 121, 249) 0, transparent 27%), radial-gradient(at 57% 24%, rgb(139, 92, 246) 0, transparent 61%), radial-gradient(at 18% 74%, rgb(24, 24, 27) 0, transparent 16%), radial-gradient(at 66% 86%, rgb(250, 204, 21) 0, transparent 23%), radial-gradient(at 75% 57%, rgb(153, 27, 27) 0, transparent 57%);
  }



button:disabled {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* opacity: 1; */
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input {
  font-feature-settings: 'ss01' on, 'ss02' on, 'cv01' on, 'cv03' on;
}

